section {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;

    div {
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;

            h1 {
                font-weight: var(--title-weight);
                font-size: var(--logo-size)
            }

            h2 {
                color: var(--color-primary);
                font-size: var(--title-size);
            }
        }

        .subtitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
            gap: 15px;

            p {
                font-weight: var(--title-weight);
                font-size: var(--subtitle-size);
                padding-bottom: 10px;
            }

            button {
                background-color: var(--color-primary);
                color: var(--color-white);
                font-weight: var(--subtitle-weight);
                height: 48px;
                width: 200px;
                border-radius: 10px;
            }
        }
    }

    .images {
        display: none;
    }
}


@media screen and (min-width: 700px) {
    section {
        padding: 40px 80px;
        align-items: baseline;
        position: relative;

        div {
            .title {
                display: flex;
                flex-direction: column;
                align-items: baseline;
            }

            .subtitle {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                padding-top: 40px;
                gap: 15px;

            }
        }

        .images {
            display: block;
            width: 100%;

            & .logo {
                position: absolute;
                width: 45%;
                right: 0;
                bottom: 1px;
                z-index: 1;
                max-width: 320px;
            }

            & .table {
                position: absolute;
                width: 30%;
                right: 0;
                margin-right: 60px;
                bottom: 70px;
                z-index: 2;
                max-width: 210px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    section {
        div {
            .title {
                h1 {
                    font-size: var(--max-size);
                }

                h2 { font-size: var(--logo-size);}
            }

            .subtitle {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                padding-top: 40px;
                gap: 15px;

            }
        }

        .images {
            display: block;
            width: 100%;

            & .logo {
                position: absolute;
                width: 45%;
                right: 0;
                bottom: 1px;
                z-index: 1;
                max-width: 320px;
            }

            & .table {
                position: absolute;
                width: 30%;
                right: 0;
                margin-right: 60px;
                bottom: 70px;
                z-index: 2;
                max-width: 210px;
            }
        }
    }
}