.listContainer li {
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    z-index: 4;

    & p:hover::before {
        background-image: url("../../assets/Delete icon.png");
    }
}

.listContainer li p::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("../../assets/Ellipse 1.png");
    background-size: cover;
    background-position: center;
    top: 17px;
    left: 8px;
    z-index: 5;
}

.listContainer li p.checked {
    font-weight: var(--title-weight);
    text-decoration: line-through;
}

.listContainer li p.checked::before {
    background-image: url("../../assets/Vector.png");
}

.listContainer li div {
    display: flex;
    gap: 10px;
}

.listContainer li div span {
    color: var(--color-grey-100);
    font-size: var(--hover-size);
    font-weight: var(--title-weight);
    border-radius: 30%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.listContainer li div span:hover {
    background: var(--color-grey);
}

.listContainer .removeAll {
    background: var(--color-black);
    color: var(--color-white);
    padding: 18px;
    border-radius: 10px;
    width: 60%;
    margin: 20px 20% 0px 20%;
}